{% extends "back/base.html.twig" %}
{% block title %}saison Edit{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<h1>Modifier Saisons</h1>
{{ form(form) }}

{% endblock %}