{% extends "back/base.html.twig" %}
{% block title %}Ajouter un film ou série{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<h1>Ajouter un film ou série</h1>
{{ form(form) }}

{% endblock %}